@tailwind components;
@tailwind utilities;
















.custom-class {
  // Use Tailwind’s built-in apply to reference a utility class in CSS.
  @apply -mr-4;
  // Use Tailwind’s built-in theme function to output a value from the Tailwind theme.
  // This doesn’t support applying Sass operations (for example math) onto the value.
  gap: theme('spacing.4');
  // `theme` does support plain-CSS operations, such as `calc` or `rgba` for colors.
  margin-left: calc(theme('spacing.4') + theme('spacing.2'));


  // $theme: (
  //   'spacing': (
  //     0.5: 1em,
  //     1: 2em,
  //   )
  // )

  // Convert the Tailwind theme into a Sass map, where values can be accessed with map.get.
  // grid-template-columns: map.get($theme, "gridTemplateColumns", 8);
  // padding-bottom: map.get($theme, "spacing", 0.5) * 5;



  // Introduce a custom function to query theme values the same way as plain Tailwind.
  border-left-width: spacing('4') * 2;
  border-left-width: color('yellow.50') * 2;
  border-left-width: theme('spacing.4') * 2;
  border-left-width: theme('color.yellow.50') * 2;
  border-left-width: $color--yellow-50; // color.yellow.50;
  border-left-width: $-margin-05; // spacing.4;

  width: $width-1/2;
}

@mixin rope-border($color: ffffff) {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%23#{$color}8C' stroke-width='7' stroke-dasharray='2' stroke-dashoffset='86' stroke-linecap='butt'/%3e%3c/svg%3e");
}

// Override the Tailwind theme function, but only for cases where it’s needed

// Sassify

// https://github.com/VicGUTT/tailwindsass

// https://developer.mozilla.org/en-US/docs/Web/CSS/calc()
